<!DOCTYPE html>
<html lang="en">
<head>
  <title>Folders</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

  
<div class="container">
  <h2>Notes List</h2>
  <div class="list-group">
    <% @notes.each do |file|%>
      <a href="<%=edit_note_path(file.id,:dir_id => @dir_id)%>" class="list-group-item list-group-item-action"><%=file.name%></a>
    <%end%>
  </div>
</div>

<p></p>
<p align="middle"><a href="<%=directories_path%>" class="btn btn-info" role="button">Go back to folders</a>
  <a href="<%=new_note_path(:dir_id => @dir_id)%>" class="btn btn-info" role="button">Create new notes</a></p>

</div>
</body>
</html>